:root {
  --primaryBackgroundColor: #262626;
  --primaryTextColor: #cecece;
}

.MuiPickersLayout-root {
  background-color: #b0b3b3;
}
.suggestions-wrapper .suggestions li {
  margin-left: 0px;
  background-color: #303030;
  height: 5%;
  color: #ffffff;
  font-size: 20%;
  border-bottom: #838383 1px solid;
}

.suggestions-wrapper .suggestions li.active a {
  margin-left: 0px;
  background-color: #303030;
  color: var(--primaryTextColor);
}
.suggestions-wrapper .suggestions li.active a:hover {
  margin-left: 0px;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

.suggestions-wrapper .suggestions li a {
  color: var(--primaryTextColor);
  font-size: 12px;
}
.suggestions-wrapper .suggestions li a:hover {
  color: var(--primaryTextColor);
  background-color: var(--primaryBackgroundColor);
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  max-width: 100%;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

.mapboxgl-ctrl-geocoder--input,
.mapboxgl-ctrl-geocoder--input:focus {
  color: var(--primaryTextColor);
  height: 40px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  top: 9px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  height: 19px;
  margin-right: 6px;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: var(--primaryBackgroundColor);
}

.mapboxgl-ctrl-geocoder .suggestions {
  background-color: var(--primaryBackgroundColor);
  overflow-y: auto;
  max-height: 194px;
  scrollbar-width: thin;
  scrollbar-color: var(--primaryTextColor) #424241;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl button {
  background-color: var(--primaryBackgroundColor);
  display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}
